@model SCIFTAN.BLL.Models.FREELANCER_DOC_INFO_Model

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<h4><i><strong>Docs</strong> </i></h4>
<hr />
<div class="well">
    <p>
        @if (Model == null)
        {
            @Html.ActionLink("Add", "Create")
        }
    </p>
@if (Model != null)
{
    <table class="table">
        <tr>
            <td>Photo</td>
            <td>National Identity Card</td>
            <td>Police Verification Certificate</td>
        </tr>
        <tr>
            <td>
                @if (Model.Picture_Path != null)
                {
                    <img src="@Url.Content(Model.Picture_Path)" alt="Image" height="150" width="150" />
                }
            </td>
            <td>
            <td>
                @if (Model.NID_Path != null)
                {
                    <img src="@Url.Content(Model.NID_Path)" alt="Image" height="150" width="320" />}
            </td>
            <td>
                @if (Model.PVC_Path != null)
                {
                <img src="@Url.Content(Model.PVC_Path)" alt="Image" height="150" width="320" />}
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Freelancer_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Freelancer_Id })
        </td>
    </tr>

</table>
}
</div>