@model SCIFTAN.BLL.Models.FREELANCER_RESUME_Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resume</h2>
<div>
    <img src="@Url.Content(Model.Docs.Picture_Path)" alt="Image" height="200" width="200" />
</div>
<hr />
<div>
    <h4>Career Ojective</h4>
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.CareerObjective.Career_Objective)
        </dd>

    </dl>
</div>


<hr />
<div>
    <h4>Personal Info</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.FatherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.FatherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.MotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.NID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.NID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.PresentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.PresentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.PermanentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.PermanentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.Mobile1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.Mobile1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.Mobile2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.Mobile2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalInfo.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalInfo.Email)
        </dd>

    </dl>
</div>



<hr />
<div>
    <h4>Educational Info</h4>
    <table class="table">
        <tr>
            <th>
                Degree
            </th>
            <th>
                Institute
            </th>
            <th>
                Year
            </th>
            <th>
                Result
            </th>
            <th>
                Subject
            </th>
        </tr>

        @foreach (var item in Model.Educations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Institute)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
            </tr>
        }

    </table>
</div>


<hr />
<div>
    <h4>Experinece Info</h4>
    <table class="table">
        <tr>

            <th>
                Organization
            </th>
            <th>
                Designation
            </th>
            <th>
                Responsibilities
            </th>
            <th>
                AreaofExperiences
            </th>
            <th>
                Location
            </th>
            <th>
                FromDate
            </th>
            <th>
                ToDate
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Experiences)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Organization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsibilities)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AreaofExperiences)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
            </tr>
        }

    </table>
</div>


<hr />
<div>
    <h4>Skill Info</h4>
    <table class="table">
        <tr>
            <th>
                SkillName
            </th>
            <th>
                Description
            </th>

        </tr>

        @foreach (var item in Model.Skills)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SkillName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

            </tr>
        }

    </table>
</div>


<hr />
<div>
    <h4>Docs</h4>
    <table class="table">
        <tr>
            <th>
                NID
            </th>
            <th>
                PVC
            </th>
        </tr>
        <tr>
            <td>
                <img src="@Url.Content(Model.Docs.NID_Path)" alt="Image" height="400" width="400" />
            </td>
            <td>
                <img src="@Url.Content(Model.Docs.PVC_Path)" alt="Image" height="400" width="400" />
            </td>
        </tr>

    </table>
</div>






